.innercontent > h1,
h2 {
  font-size: 1.8rem;
}

.innercontent > h1 {
  color: whitesmoke;
  background: #cb4e4e;
  box-shadow: 0 6px #ab3c3c;
  width: 100%;
  padding: 20px 0;
}

.innercontent > h1,
h2,
h3,
p {
  text-align: center;
}

.innercontent > h2 {
  font-size: 4rem;
  padding: -100px;
}

.innercontent > h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 4rem;
  margin: -10px 0;
  /* padding: 80px 50px; */
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.innercontent > ol {
  margin: 20px;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.backdrop {
  background-color: black;
  z-index: 100000;
  opacity: 0.75;
  min-height: 100vh;
  min-width: 100vw;
  backdrop-filter: blur(100px);
}

.top-container {
  z-index: 100001;
  background-color: whitesmoke;
  max-width: 75vw;
  max-height: 90vh;
  min-height: 50vh;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  border-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.innercontent {
  overflow: scroll;
  width: 100%;
}

.stop-scrolling {
  height: 100vw;
  overflow: hidden;
}

.p {
  display: flex;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-2 {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn-2s {
  background: #4ecb4e;
  color: #fff;
  box-shadow: 0 6px #3fab45;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-2a,
.btn-2as {
  border-radius: 0 0 5px 5px;
}

.btn-2a:hover,
.btn-2as:hover {
  top: 2px;
}

.btn-2a:hover {
  box-shadow: 0 4px #ab3c3c;
}

.btn-2as:hover {
  box-shadow: 0 4px #3fab45;
  top: 2px;
}

.btn-2a:active,
.btn-2as:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
