/* Typography */

html > body > .container > .innercontent > h1,
html > body > .container > .innercontent > h2 {
  font-size: 1.8rem;
}

html > body > .container > .innercontent > h1 {
  color: whitesmoke;
  background: #cb4e4e;
  box-shadow: 0 6px #ab3c3c;
  width: 100%;
  padding: 20px 0;
}

html > body > .container > .innercontent > h1,
html > body > .container > .innercontent > h2,
html > body > .container > .innercontent > h3,
html > body > .container > .innercontent > p {
  text-align: center;
  margin: 10px 0 !important;
}

html > body > .container > .innercontent > h2 {
  font-size: 4rem;
  padding: -100px;
}

html > body > .container > .innercontent > h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 4rem;
  margin: -10px 0;
  /* padding: 80px 50px; */
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

html > body > .container > .innercontent > .p {
  display: flex;
}

/* Organized List */

html > body > .container > .innercontent > ol {
  margin: auto 20px;
  padding: 0 20%;
  list-style-type: decimal;
}

/* Containers */

html > body > .container {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

html > body > .top-container {
  z-index: 100001;
  background-color: whitesmoke;
  max-width: 75vw;
  max-height: 90vh;
  min-height: 50vh;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  border-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

html > body > .container > .innercontent {
  overflow: scroll;
  width: 100%;
  margin-bottom: 50px;
}

/* Backdrop and stop scrolling */

.stop-scrolling {
  height: 100vw !important;
  max-height: 100vw !important;
  min-height: 100vw !important;
  overflow: hidden !important;
}

.backdrop {
  background-color: black;
  z-index: 100000;
  opacity: 0.75;
  min-height: 100vh;
  min-width: 100vw;
  backdrop-filter: blur(100px);
}

/* Buttons */

html > body > .container > .innercontent > .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

html > body > .container > .innercontent > .buttons > .button-container {
  display: flex;
  justify-content: space-evenly;
}

html > body > .container > .innercontent > .buttons > .button-container > .btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2 {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2s {
  background: #4ecb4e;
  color: #fff;
  box-shadow: 0 6px #3fab45;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2a,
html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2as {
  border-radius: 0 0 5px 5px;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2a:hover,
html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2as:hover {
  top: 2px;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2a:hover {
  box-shadow: 0 4px #ab3c3c;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2as:hover {
  box-shadow: 0 4px #3fab45;
  top: 2px;
}

html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2a:active,
html
  > body
  > .container
  > .innercontent
  > .buttons
  > .button-container
  > .btn-2as:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
