:root {
  --color-light-red: rgb(203, 78, 78);
  --color-dark-red: rgb(171, 60, 60);
  --color-background-red: rgba(77, 0, 0, 0.75);
  --color-light-blue: rgb(12, 108, 207);
  --color-dark-blue: rgb(51, 77, 127);
  --color-white: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

#scam-detector-alert,
#scam-detector-alert *,
#scam-detector-alert *::before,
#scam-detector-alert *::after {
  box-sizing: border-box;
}

#scam-detector-alert-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000;
  border: none;
  padding: 6vh 10vw;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1000px var(--color-background-red);
}

#scam-detector-alert {
  height: 100%;
}

#scam-detector-alert body {
  position: relative;
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
}

#scam-detector-alert #title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--color-light-red);
  padding: 30px;
  color: var(--color-white);
  box-shadow: 0 10px var(--color-dark-red);
  width: 100%;
}

#scam-detector-alert #content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scam-detector-alert #content h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#scam-detector-alert #buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto 20px 20px 20px;
  box-sizing: border-box;
}

#scam-detector-alert #buttons #stay {
  margin-right: auto;
  background: var(--color-light-blue);
  box-shadow: 0 6px var(--color-dark-blue);
}

#scam-detector-alert #buttons #leave {
  background: var(--color-light-red);
  box-shadow: 0 6px var(--color-dark-red);
}

#scam-detector-alert #buttons button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  transition: none;
  border-radius: 0 0 5px 5px;
  color: #fff;
}

#scam-detector-alert #buttons button:hover {
  top: 2px;
}

#scam-detector-alert #buttons #stay:hover {
  box-shadow: 0 4px var(--color-dark-blue);
}

#scam-detector-alert #buttons #leave:hover {
  box-shadow: 0 4px var(--color-dark-red);
}
